<div class="container">
    <header class="travel-img">
        <div>
            <span (click)="navigateToExplore()" class="material-symbols-outlined">cancel</span>
        </div>
        <p class="above-header"><b>BOOK TOUR</b></p>
        <p class="header">Landscape</p>    
    </header>
    <div id="middle" class="md:transition-all duration-700 ">
        <p routerLink="./information" routerLinkActive="active"><span class="material-symbols-outlined">info</span>Information
        </p>
        <p routerLink="./tour-plan" routerLinkActive="active"><span class="material-symbols-outlined">calendar_month</span>Tour Plan
        </p>
        <p routerLink="./location" routerLinkActive="active"><span class="material-symbols-outlined">location_on</span>Location
        </p>
        <p routerLink="./gallery" routerLinkActive="active"><span class="material-symbols-outlined">image</span>Gallery
        </p>
    </div> 
    <router-outlet></router-outlet>
</div>