<div id="about-header" class="mb-24">
    <div id="about-hero" class=" w-11/12">
        <div class="about-us-text">
            <p class="text-center font-semibold" style="color: #DF6951">READ</p>
            <h1 class="text-9xl xs:text-8xl xxxs:text-7xl text-center  text-white">About Us</h1>
        </div>
    </div>
</div>
<!-- --------------------------------------------------------------- -->
<div class="sightseeing-tours px-5 sm:px-16 mb-28 gap-10 items-center justify-items-center grid xsmin:grid-cols-auto-fit grid-cols-auto-fit-xs">
    <div>
        <p class="subheading-p">Promotion</p>
        <h1 class="subheading-h1">We Provide You The Best Sightseeing Tours in Europe</h1>
        <p class="mb-3" style="color: rgba(24, 30, 75, 1);">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem fugit rem numquam facilis! Aliquid unde assumenda sunt voluptatum aut rerum aspernatur maiores, nobis odio autem tempora cupiditate praesentium a nesciunt consectetur asperiores id accusamus corporis?</p>
        <button class="btn1">View Packages</button>
    </div>
    <div>
        <img src="../../assets/images/about-page images/Ellipse 626.png" alt="" class="max-h-full">
    </div>
</div>
<!-- --------------------------------------------------------------------- -->
<div class="image-section h-96 flex items-center justify-center px-10 mb-28">
    <p class="text-white text-6xl sm:text-8xl relative text-center">
        Wanderlust
    </p>
</div>

<!-- --------------------------------------------------------------------- -->

<div class="popular-tour-plans flex gap-10 px-5 md:px-16 relative mb-28">
    <img style="max-width: 200px;" class="absolute -top-20 right-5 -z-10 hidden sm:inline popular-tour-plans-img-2" src="../../assets/images/about-page images/popular tour plans/image 919.png" alt="">
    <img style="max-height: 450px; min-width: 300px;" class="popular-tour-plans-img" src="../../assets/images/about-page images/popular tour plans/about-us-img-2 1.png" alt="">
    <div>
        <div>
            <p class="subheading-p">TREND</p>
            <h1 class="subheading-h1">Our Popular Tour Plans</h1>
            <p class="mb-11" style="color: rgba(24, 30, 75, 1);">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos fuga nam tenetur, eaque impedit vel doloremque aspernatur harum error qui et suscipit? Ea, ullam. Accusantium voluptates porro ipsam assumenda atque.</p>
        </div>
        <div class="percentages flex gap-5">
            <img src="../../assets/images/about-page images/popular tour plans/Group 1000001755.png" alt="">
            <img src="../../assets/images/about-page images/popular tour plans/Group 1000001756.png" alt="">
            <img src="../../assets/images/about-page images/popular tour plans/Group 1000001757.png" alt="">
        </div>
    </div>
</div>

<!-- --------------------------------------------------------------- -->

<div class="mb-28">
    <app-gallery></app-gallery>
</div>

<app-testimonial></app-testimonial>

<app-footer></app-footer>
