.testimonial .face {
    position: absolute;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    top: -60px;
    z-index: 10;
}

.indicator {
    border-radius: 50%;
    background: rgba(115, 115, 115, 1);
    padding: 10px;
    width: 45px;
    height: 45px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    cursor: pointer;
}

.right {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    cursor: pointer;
}