/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap);
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primaryColor: #DF6951;
    --transparentColor: #D9D9D9;
    --primaryRadius: 10%;
}
body{
    font-family: 'Montserrat','Poppins';
}