/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Asap&family=Dancing&family=Inconsolata&family=Inter&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Asap&family=Dancing+Script:wght@500&family=Inconsolata&family=Inter&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

@media(prefers-color-scheme:dark){
    body{
        background-color: black;
        color:color;
    }
}
:root{
    --primaryColor: #DF6951;
    --transparentColor: rgba(217,217,217,0.2);
    --primaryRadius: 10%;
}

html, body { height: 100%; }
body { margin: 0; 
    overflow-x: hidden;
    font-family: 'Roboto',"Helvetica Neue", 'sans-serif', 'Montserrat','Poppins';
}

.subheading-h1 {
    @apply  text-4xl mb-4 font-bold;
    color: rgba(24, 30, 75, 1);
}

.subheading-p {
    color: #DF6951;
    @apply font-semibold mb-2 ;
}

.btn1 {
    background-color: #DF6951;
    color: white;
    @apply p-3 rounded-xl
}

.btn1-2 {
    background-color: #DF6951;
    color: white;
    @apply p-3 rounded
}

.btn2 {
    @apply p-3 rounded bg-transparent;
    color: #DF6951; 
    border: 1px solid #DF6951;
    transition: .3s;
}

.btn2:hover {
    color: white;
    background-color: #DF6951;
}


.outline-btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    @apply p-3 rounded-xl;
    transition: all .2s;
    
}

.outline-btn:hover {
    background-color: #DF6951;
    border-color: #DF6951;
}