div{
    font-weight: 800;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div div img{
    max-height: 5rem;
}

div ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 5rem;
}

div ul li{
    display: flex;
    justify-content: center;
    text-align: center;
	list-style: none;
    width: 8rem;
    margin: 0 7.5px;
}

div button{
    color: white;
    background-color: var(--main-green);
    border: 0px;
    height: 3rem;
    width: 100%;
    padding: 10px;
    max-width: 100px;
    border-radius: 1rem;
}

div ul li:hover{
    cursor: pointer;
    border-bottom: 2px solid var(--main-green);
}