<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <package-modal [showModal]="showModal" [closeModal]="closeModal" [openModal]="openModal"></package-modal>
    <!-- ----------------------Scroll To Top Icon------------------------------------------------------------------- -->
    <!-- <div (click)="scrollToTop()" class=" rounded-tl-full rounded-tr-full z-50 absolute  w-24 h-12 border-2 flex items-center justify-center" style="background-color: #DF6951; border-color: #DF6951; transform: rotate(270deg); right: -26px; bottom: 5.5rem;">
        <span class="material-symbols-outlined" style="font-size: 37px; color:white; transform: rotate(90deg); top: 2px; left: -2px; position: relative;">
            keyboard_arrow_up
        </span>
    </div> -->
    <!-- ----------------------------------------------------------------------------------------------------------- -->
    <div id="header">
        <app-nav></app-nav> 
        <div id="hero" class="md:px-20 px-5">
            <img src="../../assets/images/homepage images/Vector 1.png" alt="" class="w-14">
            <h1 class="sm:text-5xl text-4xl font-semibold w-full lg:w-9/12 leading-tight text-white">No matter where you're going to, we'll take you there</h1>
            <div class="mini-form">
                <select disabled  name="" id="" class="bg-transparent text-white" >
                    <option value="">Where to?</option>
                </select>
                <div class="divider hidden sm:block"></div>
                <select disabled  name="" id="" class="bg-transparent text-white">
                    <option value="">Travel Type</option>
                </select>
                <div class="divider hidden sm:block"></div>
                <select disabled  name="" id="" class="bg-transparent text-white">
                    <option value="">Duration</option>
                </select> 
                <button (click)="openModal()" class="btn1 sm:w-4/6 w-full text-sm">Build Package</button>
            </div>
            <div class="flex flex-col sm:flex-row items-center sm:gap-5 gap-3 xs:hidden">
                <div class="flex -space-x-2">
                    <a href="#" class="">
                        <img class="inline-block h-10 w-10 rounded-full object-cover ring-2 ring-white" src="../../assets/images/homepage images/avatars/Ellipse 31.png" alt="Guy"/>
                    </a>
                    <a href="#" class="">
                        <img class="inline-block h-10 w-10 rounded-full object-cover ring-2 ring-white" src="../../assets/images/homepage images/avatars/Ellipse 32.png" alt="Max"/>
                    </a>
                    <a href="#" class="">
                        <img class="inline-block h-10 w-10 rounded-full object-cover ring-2 ring-white" src="../../assets/images/homepage images/avatars/Ellipse 33.png" alt="Charles"/>
                    </a>
                    <a href="#" class="">
                        <img class="inline-block h-10 w-10 rounded-full object-cover ring-2 ring-white" src="../../assets/images/homepage images/avatars/Ellipse 34.png" alt="Jade"/>
                    </a>
                    <a href="#" class="">
                        <img class="inline-block h-10 w-10 rounded-full object-cover ring-2 ring-white" src="../../assets/images/homepage images/avatars/Ellipse 35.png" alt="Jade"/>
                    </a>
                    <a href="#" class="">
                        <img class="inline-block h-10 w-10 rounded-full object-cover ring-2 ring-white" src="../../assets/images/homepage images/avatars/Ellipse 36.png" alt="Jade"/>
                    </a>
                </div>
                <p class="text-white">2,500 people booked Tommorowland Event in the last 24 hours</p>
            </div>
        </div>
    </div>

    <!-- ------------------------------------LOGOS---------------------------------------------------- -->

    <div class="logos">
        <img src="../../assets/images/homepage images/logos/image 909.png" alt="">
        <img src="../../assets/images/homepage images/logos/image 912.png" alt="">
        <img src="../../assets/images/homepage images/logos/Mask group-1.png" alt="">
        <img src="../../assets/images/homepage images/logos/Mask group-2.png" alt="">
        <img src="../../assets/images/homepage images/logos/Mask group.png" alt="">
    </div>

    <!-- ---------------------------------------SERVICES CATEGORY------------------------------------------------- -->

    <div class="category mb-28 text-center p-10">
        <p style="color: #DF6951;" class="font-semibold mb-2">Category</p>
        <h1 class="text-4xl mb-4 font-bold" style="color: rgba(24, 30, 75, 1);">We Offer The Best Services</h1>
        <div class="cards gap-7">
            <div class="max-w-sm bg-white  rounded-3xl flex items-center flex-col p-7">
                <img class="rounded-t-lg" src="../../assets/images/filler/hands 1.svg" alt="" />
                <div class="p-5">
                    <h6 class="card-heading mb-2 font-bold tracking-tight">Guided Tours</h6>
                    <p class="card-text mb-3 font-normal">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
                </div>
            </div>
            <div class="max-w-sm bg-white rounded-3xl flex items-center flex-col p-7 relative">
                <img class="rounded-t-lg" src="../../assets/images/filler/medical-team 1.svg" alt="" />
                <div class="p-5 z-10 bg-white rounded-3xl shadow-lg">
                    <h6 class="card-heading mb-2 text-xl font-bold tracking-tight">Guided Tours</h6>
                    <p class="card-text mb-3 font-normal">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
                </div>
                <img src="../../assets/images/homepage images/square.png" alt="" class="absolute bottom-0 left-0">
            </div>
            <div class="max-w-sm bg-white  rounded-3xl flex items-center flex-col p-7">
                <img class="rounded-t-lg" src="../../assets/images/filler/tour-guide 1.svg" alt="" />
                <div class="p-5">
                    <h6 class="card-heading mb-2 text-xl font-bold tracking-tight">Guided Tours</h6>
                    <p class="card-text mb-3 font-normal">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
                </div>
            </div>
            <div class="max-w-sm bg-white border shadow rounded-3xl flex items-center flex-col p-7">
                <img class="rounded-t-lg" src="../../assets/images/filler/travelling 1.svg" alt="" />
                <div class="p-5">
                    <h6 class="card-heading mb-2 text-xl font-bold tracking-tight">Guided Tours</h6>
                    <p class="card-text mb-3 font-normal">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- --------------------------------------HONEYMOON-------------------------------------------------- -->

    <div class="honeymoon  gap-10 pr-14 mb-28">
        <img src="../../assets/images/homepage images/honeymoon.png" alt="">
        <div class="sm:p-16 p-5 pt-10">
            <p style="color: #DF6951;" class="font-semibold mb-2">HONEYMOON SPECIALS</p>
            <h1 class="text-4xl mb-4 font-bold" style="color: rgba(24, 30, 75, 1);">Our Romantic Tropical Destinations</h1>
            <p class="mb-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum sequi similique blanditiis veniam modi minus quis ea placeat quidem nisi, voluptate molestias illum, laudantium distinctio, tenetur animi delectus at corrupti?</p>
            <button class="btn1">View Packages</button>
        </div>
    </div>

    <!-- -------------------------------------BOOOKINGS--------------------------------------------------- -->

    <div class="bookings sm:px-16 px-5 mb-28">
        <div class="booking-icons-holder">
            <p style="color: #DF6951;" class="font-semibold mb-2">Fast & Easy</p>
            <h1 class="text-4xl mb-6 font-bold" style="color: rgba(24, 30, 75, 1);">Get Your Favourite <br> Resort Booking</h1>
            <div class="flex flex-col gap-8">
                <div class="flex gap-5">
                    <img src="../../assets/images/homepage images/bookings images/Group 11.png" alt="">
                    <div>
                        <h6 class="font-bold blue">Choose Destination</h6>
                        <p class="blue">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, nihil quos!</p>
                    </div>
                </div>
                <div class="flex gap-5">
                    <img src="../../assets/images/homepage images/bookings images/Group 12.png" alt="">
                    <div>
                        <h6 class="font-bold blue">Check Availability</h6>
                        <p class="blue">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, nihil quos!</p>
                    </div>
                </div>
                <div class="flex gap-5">
                    <img src="../../assets/images/homepage images/bookings images/Group 7.png" alt="">
                    <div>
                        <h6 class="font-bold blue">Let's Go!</h6>
                        <p class="blue">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, nihil quos!</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <img src="../../assets/images/homepage images/bookings images/plane.svg" alt="" class="h-full object-cover">
        </div>
    </div>

    <!-- -----------------------------------STATUE OF LIBERTY----------------------------------------------------- -->
    <div class="statue h-72 flex items-center sm:pl-28 px-10 mb-28">
        <span class="text-white text-3xl sm:text-4xl relative">
            Let's Make Your<br class="sm:block hidden"> Next Holiday Amazing 
            <img src="../../assets/images/homepage images/line.png" class="absolute sm:-bottom-7 sm:-right-10 hidden sm:block" alt="">
        </span>
    </div>

    <!-- ----------------------------------TOURS------------------------------------------------------ -->

    <!-- <div class="gap-10 pr-14 relative"> -->
        <div class="tours-section mb-28 pr-3 md:pr-10">
            <div>
                <div class="tours-heading sm:px-16 px-5 pt-10">
                    <p style="color: #DF6951;" class="font-semibold mb-2">PROMOTION</p>
                    <h1 class="text-4xl mb-4 font-bold" style="color: rgba(24, 30, 75, 1);">We Provide You The Best Sightseeing Tours in Europe</h1>
                    <p class="mb-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum sequi similique blanditiis veniam modi minus quis ea placeat quidem nisi, voluptate molestias illum, laudantium distinctio, tenetur animi delectus at corrupti?</p>
                    <button class="btn1">View Packages</button>
                </div>
                <div class="">
                    <div class="tours sm:p-10 p-5">
                        <div class="image relative">
                            <img src="../../assets/images/homepage images/tours/Rectangle 19295.png" alt="" class="w-full">
                            <div class="absolute top-2 right-2 px-3 py-1 rounded-xl text-center" style="background-color: #DF6951; color: white;">Paris</div>
                        </div>
                        <div class="image relative">
                            <img src="../../assets/images/homepage images/tours/Rectangle 19296.png" alt="" class="w-full">
                            <div class="absolute top-2 right-2 px-3 py-1 rounded-xl text-center" style="background-color: #DF6951; color: white;">Sweden</div>
                        </div>
                        <div class="image relative">
                            <img src="../../assets/images/homepage images/tours/Rectangle 19297.png" alt="" class="w-full">
                            <div class="absolute top-2 right-2 px-3 py-1 rounded-xl text-center" style="background-color: #DF6951; color: white;">Rome</div>
                        </div>
                        <div class="image relative">
                            <img src="../../assets/images/homepage images/tours/Rectangle 19298.png" alt="" class="w-full">
                            <div class="absolute top-2 right-2 px-3 py-1 rounded-xl text-center" style="background-color: #DF6951; color: white;">Italy</div>
                        </div>
                    </div>
                    <div class="sm:px-10 px-5">
                        <button class="btn2 xs:w-11/12 w-full" style="max-width: 700px;">See More</button>
                    </div>
                </div>
                <!-- <div class="sm:px-10 px-5">
                    <button class="btn2 xs:w-11/12 w-full">See More</button>
                </div> -->
            </div>
            <img src="../../assets/images/homepage images/tours/eiffel.png" alt="" class="eiffel hidden lg:inline">
        </div>
        
    <!-- </div> -->

    <!-- ------------------------------------CITY AND FOREST---------------------------------------------------- -->

    <div class="dual md:h-60 md:grid md:grid-cols-2 items-center mb-28 text-center w-full">
        <div class="dual-1 p-20 h-full">
            <p class="font-semibold mb-2 text-white">PROMOTION</p>
            <h1 class="text-4xl mb-4 font-bold text-white">Explore Nature</h1>
            <button class="outline-btn">View Packages</button>
        </div>
        <div class="dual-2 p-20 h-full">
            <p class="font-semibold mb-2 text-white">PROMOTION</p>
            <h1 class="text-4xl mb-4 font-bold text-white">Explore Cities</h1>
            <button class="outline-btn">View Packages</button>
        </div>
    </div>

    <!-- ----------------------------------PACKAGES------------------------------------------------------ -->

    <div class="packages-section justify-center flex flex-col items-center px-4 sm:px-16 mb-28">
        <p style="color: #DF6951;" class="font-semibold mb-2">TRENDY</p>
        <h1 class="text-4xl mb-4 font-bold text-center" style="color: rgba(24, 30, 75, 1);">Our Trending Tour Packages</h1>
        <div class="packages">
            <div class="package max-w-xs">
                <div class="mb-10 relative">
                    <img src="../../assets/images/homepage images/packages countries/Rectangle 19305-1.png" alt="" class="h-full w-full">
                    <img src="../../assets/images/homepage images/flags/brazil.png" alt="" class="absolute -bottom-20">
                </div>
                <div class="flex items-center gap-5 mb-3">
                    <div class="days flex gap-1 items-center">
                        <span class="material-symbols-outlined" style="color: rgb(125, 124, 124); font-size: 30px;">
                            calendar_today
                        </span>
                        <p>8 Days</p>
                    </div>
                    <div class="people_going flex items-center gap-1">
                        <span class="material-symbols-outlined" style="color: rgb(125, 124, 124); font-size: 30px;">
                            person
                        </span>
                        <p>30 People Going</p>
                    </div>
                </div>
                <div class="flex justify-between items-center pr-5 mb-2">
                    <h1 class="text-2xl font-bold" style="color: rgba(24, 30, 75, 1); font-size: 30px;">Amazon</h1>
                    <div class="flex items-center space-x-1">
                        <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                        </svg>
                        <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                        </svg>
                        <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                        </svg>
                        <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                        </svg>
                        <svg class="w-4 h-4  text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                        </svg>
                    </div>
                </div>
                <div class="flex gap-1 items-center mb-2">
                    <span class="material-symbols-outlined" style="color: rgb(125, 124, 124)">
                        location_on
                    </span>
                    <p>Brazil</p>
                </div>
                <div class="price">
                    <h1 class="text-2xl mb-4 font-bold tracking-widest" style="color: #DF6951;">$1,223</h1>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ipsam non, nulla molestias, neque quae temporibus hic architecto placeat iste rem labore cupiditate.</p>
                <button class="btn1 mt-3">Explore Now</button>
            </div>
            <div class="package max-w-xs">
                <div class="mb-10 relative">
                    <img src="../../assets/images/homepage images/packages countries/Rectangle 19305-2.png" class="h-full w-full">
                    <img src="../../assets/images/homepage images/flags/Ellipse 623-2.png" alt="" class="absolute -bottom-20">
                </div>
                <div class="flex items-center gap-5 mb-3">
                    <div class="days flex gap-1 items-center">
                        <span class="material-symbols-outlined" style="color: rgb(125, 124, 124); font-size: 30px;">
                            calendar_today
                        </span>
                        <p>8 Days</p>
                    </div>
                    <div class="people_going flex items-center gap-1">
                        <span class="material-symbols-outlined" style="color: rgb(125, 124, 124); font-size: 30px;">
                            person
                        </span>
                        <p>155 People Going</p>
                    </div>
                </div>
                <div class="flex justify-between items-center pr-5 mb-2">
                    <h1 class="text-2xl font-bold" style="color: rgba(24, 30, 75, 1); font-size: 30px;">Giza</h1>
                    <div class="flex items-center space-x-1">
                        <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                        </svg>
                        <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                        </svg>
                        <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                        </svg>
                        <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                        </svg>
                        <svg class="w-4 h-4  text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                        </svg>
                    </div>
                </div>
                <div class="flex gap-1 items-center mb-2">
                    <span class="material-symbols-outlined" style="color: rgb(125, 124, 124)">
                        location_on
                    </span>
                    <p>Egypt</p>
                </div>
                <div class="price">
                    <h1 class="text-2xl mb-4 font-bold tracking-widest" style="color: #DF6951;">$1,200</h1>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ipsam non, nulla molestias, neque quae temporibus hic architecto placeat iste rem labore cupiditate.</p>
                <button class="btn1 mt-3">Explore Now</button>
            </div>
            <div class="package max-w-xs">
                <div class="mb-10 relative">
                    <img src="../../assets/images/homepage images/packages countries/Rectangle 19305.png" alt="" class="h-full w-full">
                    <img src="../../assets/images/homepage images/flags/Ellipse 623.png" alt="" class="absolute -bottom-20">
                </div>
                <div class="flex items-center gap-5 mb-3">
                    <div class="days flex gap-1 items-center">
                        <span class="material-symbols-outlined" style="color: rgb(125, 124, 124); font-size: 30px;">
                            calendar_today
                        </span>
                        <p>8 Days</p>
                    </div>
                    <div class="people_going flex items-center gap-1">
                        <span class="material-symbols-outlined" style="color: rgb(125, 124, 124); font-size: 30px;">
                            person
                        </span>
                        <p>25 People Going</p>
                    </div>
                </div>
                <div class="flex justify-between items-center pr-5 mb-2">
                    <h1 class="text-2xl font-bold" style="color: rgba(24, 30, 75, 1); font-size: 30px;">Switzerland</h1>
                    <div class="flex items-center space-x-1">
                        <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                        </svg>
                        <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                        </svg>
                        <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                        </svg>
                        <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                        </svg>
                        <svg class="w-4 h-4  text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                        </svg>
                    </div>
                </div>
                <div class="flex gap-1 items-center mb-2">
                    <span class="material-symbols-outlined" style="color: rgb(125, 124, 124)">
                        location_on
                    </span>
                    <p>Europe</p>
                </div>
                <div class="price">
                    <h1 class="text-2xl mb-4 font-bold tracking-widest" style="color: #DF6951;">$1,223</h1>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ipsam non, nulla molestias, neque quae temporibus hic architecto placeat iste rem labore cupiditate.</p>
                <button class="btn1 mt-3">Explore Now</button>
            </div>
        </div>
    </div>

    <!-- -----------------------------------TESTIMONIALS----------------------------------------------------- -->

    <div class="testimonials-section flex flex-col items-center justify-center sm:px-16 px-5 py-10 relative" style="background-color: #F9F8F9;">
        <p style="color: #DF6951;" class="font-semibold mb-2">TESTIMONIALS</p>
        <h1 class="text-4xl mb-10 font-bold text-center relative z-10" style="color: rgba(24, 30, 75, 1);">See What Our Clients Say About Us</h1>
        <app-carousel></app-carousel>
        <img src="../../assets/images/homepage images/testimonials/travel-gear.png" class="absolute bottom-0 left-0 sm:w-52 w-32" alt="">
        <img src="../../assets/images/homepage images/testimonials/photo.png" class="absolute right-4 sm:w-52 w-32 hidden lg:inline" style="top: -62px;" alt="">
    </div>

</body>
</html>
