<!-- ----------------------------------------------------------------------------------------------------------- -->
<div id="header">
    <!-- <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script> -->
    <div id="hero" class="md:px-20 px-5">
        <img src="../../assets/images/homepage images/Vector 1.png" alt="" class="w-14">
        <h1 class="sm:text-5xl text-4xl font-semibold w-full lg:w-9/12 leading-tight text-white">No matter where you're going to, we'll take you there</h1>
        <div class="mini-form">
            <select disabled name="" id="" class="bg-transparent text-white" >
                <option value="">Where to?</option>
            </select>
            <div class="divider hidden sm:block"></div>
            <select disabled  name="" id="" class="bg-transparent text-white">
                <option value="">Travel Type</option>
            </select>
            <div class="divider hidden sm:block"></div>
            <select disabled name="" id="" class="bg-transparent text-white">
                <option value="">Duration</option>
            </select> 
            <button (click)="openModal()" class="btn1 sm:w-4/6 w-full text-sm">Build Package</button>
        </div>
        <div class="flex flex-col sm:flex-row items-center sm:gap-5 gap-3 xs:hidden">
            <div class="flex -space-x-2">
                <a href="#">
                    <img class="inline-block h-10 w-10 rounded-full object-cover ring-2 ring-white" src="../../assets/images/homepage images/avatars/Ellipse 31.png" alt="Guy"/>
                </a>
                <a href="#">
                    <img class="inline-block h-10 w-10 rounded-full object-cover ring-2 ring-white" src="../../assets/images/homepage images/avatars/Ellipse 32.png" alt="Max"/>
                </a>
                <a href="#">
                    <img class="inline-block h-10 w-10 rounded-full object-cover ring-2 ring-white" src="../../assets/images/homepage images/avatars/Ellipse 33.png" alt="Charles"/>
                </a>
                <a href="#">
                    <img class="inline-block h-10 w-10 rounded-full object-cover ring-2 ring-white" src="../../assets/images/homepage images/avatars/Ellipse 34.png" alt="Jade"/>
                </a>
                <a href="#">
                    <img class="inline-block h-10 w-10 rounded-full object-cover ring-2 ring-white" src="../../assets/images/homepage images/avatars/Ellipse 35.png" alt="Jade"/>
                </a>
                <a href="#">
                    <img class="inline-block h-10 w-10 rounded-full object-cover ring-2 ring-white" src="../../assets/images/homepage images/avatars/Ellipse 36.png" alt="Jade"/>
                </a>
            </div>
            <p class="text-white">2,500 people booked Tommorowland Event in the last 24 hours</p>
        </div>
    </div>
</div>

<!-- ------------------------------------LOGOS---------------------------------------------------- -->
<package-modal [showModal]="showModal" [closeModal]="closeModal" [openModal]="openModal"></package-modal>
<div class="logos">
    <img src="../../assets/images/homepage images/logos/image 909.png" alt="">
    <img src="../../assets/images/homepage images/logos/image 912.png" alt="">
    <img src="../../assets/images/homepage images/logos/Mask group-1.png" alt="">
    <img src="../../assets/images/homepage images/logos/Mask group-2.png" alt="">
    <img src="../../assets/images/homepage images/logos/Mask group.png" alt="">
</div>

<div class="elfsight-app-29451ea9-58c7-44e8-8aa8-82363bfb0c7d"></div>
<!-- <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script> -->


<!-- ---------------------------------------SERVICES CATEGORY------------------------------------------------- -->

<div class="category mb-28 text-center p-10">
    <p style="color: #DF6951;" class="font-semibold mb-2">Category</p>
    <h1 class="text-4xl mb-4 font-bold" style="color: var(--complimentaryColor);">We Offer The Best Services</h1>
    <div class="cards gap-7">
        <div class="max-w-sm bg-white  rounded-3xl flex items-center flex-col p-7">
            <img class="rounded-t-lg" src="../../assets/images/filler/hands 1.svg" alt="religious-tour-illustration" />
            <div class="p-5">
                <h6 class="card-heading mb-2 font-bold tracking-tight">Religious Tours</h6>
                <p class="card-text mb-3 font-normal">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
            </div>
        </div>
        <div class="max-w-sm bg-white rounded-3xl flex items-center flex-col p-7 relative">
            <img class="rounded-t-lg" src="../../assets/images/filler/medical-team 1.svg" alt="medical-insurance-illustration" />
            <div class="p-5 z-10 bg-white rounded-3xl shadow-lg">
                <h6 class="card-heading mb-2 text-xl font-bold tracking-tight">Medical Insurance</h6>
                <p class="card-text mb-3 font-normal">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
            </div>
            <img src="../../assets/images/homepage images/square.png" alt="" class="absolute bottom-0 left-0">
        </div>
        <div class="max-w-sm bg-white  rounded-3xl flex items-center flex-col p-7">
            <img class="rounded-t-lg" src="../../assets/images/filler/tour-guide 1.svg" alt="guided-tour-illustration" />
            <div class="p-5">
                <h6 class="card-heading mb-2 text-xl font-bold tracking-tight">Guided Tours</h6>
                <p class="card-text mb-3 font-normal">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
            </div>
        </div>
        <div class="max-w-sm bg-white border shadow rounded-3xl flex items-center flex-col p-7">
            <img class="rounded-t-lg" src="../../assets/images/filler/travelling 1.svg" alt="best-flight-options-illustration" />
            <div class="p-5">
                <h6 class="card-heading mb-2 text-xl font-bold tracking-tight">Best Flight Options</h6>
                <p class="card-text mb-3 font-normal">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
            </div>
        </div>
    </div>
</div>

<!-- --------------------------------------HONEYMOON-------------------------------------------------- -->

<div class="honeymoon  gap-10 pr-14 mb-28">
    <img src="../../assets/images/homepage images/honeymoon.png" alt="">
    <div class="sm:p-16 p-5 pt-10">
        <p style="color: #DF6951;" class="font-semibold mb-2">HONEYMOON SPECIALS</p>
        <h1 class="text-4xl mb-4 font-bold" style="color: rgba(24, 30, 75, 1);">Our Romantic Tropical Destinations</h1>
        <p class="mb-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum sequi similique blanditiis veniam modi minus quis ea placeat quidem nisi, voluptate molestias illum, laudantium distinctio, tenetur animi delectus at corrupti?</p>
        <button class="btn1">View Packages</button>
    </div>
</div>

<!-- -------------------------------------BOOOKINGS--------------------------------------------------- -->

<div class="bookings sm:px-16 px-5 mb-28" style="background-color: white;">
    <div class="booking-icons-holder">
        <p style="color: #DF6951;" class="font-semibold mb-2">Fast & Easy</p>
        <h1 class="text-4xl mb-6 font-bold" style="color: rgba(24, 30, 75, 1);">Get Your Favourite <br> Resort Booking</h1>
        <div class="flex flex-col gap-8">
            <div class="flex gap-5">
                <img src="../../assets/images/homepage images/bookings images/Group 11.png" alt="">
                <div>
                    <h6 class="font-bold blue">Choose Destination</h6>
                    <p class="blue">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, nihil quos!</p>
                </div>
            </div>
            <div class="flex gap-5">
                <img src="../../assets/images/homepage images/bookings images/Group 12.png" alt="">
                <div>
                    <h6 class="font-bold blue">Check Availability</h6>
                    <p class="blue">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, nihil quos!</p>
                </div>
            </div>
            <div class="flex gap-5">
                <img src="../../assets/images/homepage images/bookings images/Group 7.png" alt="">
                <div>
                    <h6 class="font-bold blue">Let's Go!</h6>
                    <p class="blue">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, nihil quos!</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <img src="../../assets/images/homepage images/bookings images/plane.svg" alt="" class="h-full object-cover">
    </div>
</div>

<!-- -----------------------------------STATUE OF LIBERTY----------------------------------------------------- -->
<div class="statue h-72 flex items-center sm:pl-28 px-10 mb-28">
    <span class="text-white text-3xl sm:text-4xl relative">
        Let's Make Your<br class="sm:block hidden"> Next Holiday Amazing 
        <img src="../../assets/images/homepage images/line.png" class="absolute sm:-bottom-7 sm:-right-10 hidden sm:block" alt="">
    </span>
</div>

<!-- ----------------------------------TOURS------------------------------------------------------ -->

<div class="tours-section mb-28 pr-3 md:pr-10">
    <div>
        <div class="tours-heading sm:px-16 px-5 pt-10">
            <p style="color: #DF6951;" class="font-semibold mb-2">PROMOTION</p>
            <h1 class="text-4xl mb-4 font-bold" style="color: rgba(24, 30, 75, 1);">We Provide You The Best Sightseeing Tours in Europe</h1>
            <p class="mb-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum sequi similique blanditiis veniam modi minus quis ea placeat quidem nisi, voluptate molestias illum, laudantium distinctio, tenetur animi delectus at corrupti?</p>
            <button class="btn1">View Packages</button>
        </div>
        <div class="">
            <div class="tours sm:p-10 p-5">
                <div class="image relative">
                    <img src="../../assets/images/homepage images/tours/Rectangle 19295.png" alt="image-of-paris" class="w-full">
                    <div class="absolute top-2 right-2 px-3 py-1 rounded-xl text-center" style="background-color: #DF6951; color: white;">Paris</div>
                </div>
                <div class="image relative">
                    <img src="../../assets/images/homepage images/tours/Rectangle 19296.png" alt="image-of-sweden" class="w-full">
                    <div class="absolute top-2 right-2 px-3 py-1 rounded-xl text-center" style="background-color: #DF6951; color: white;">Sweden</div>
                </div>
                <div class="image relative">
                    <img src="../../assets/images/homepage images/tours/Rectangle 19297.png" alt="image-of-rome" class="w-full">
                    <div class="absolute top-2 right-2 px-3 py-1 rounded-xl text-center" style="background-color: #DF6951; color: white;">Rome</div>
                </div>
                <div class="image relative">
                    <img src="../../assets/images/homepage images/tours/Rectangle 19298.png" alt="image-of-italy" class="w-full">
                    <div class="absolute top-2 right-2 px-3 py-1 rounded-xl text-center" style="background-color: #DF6951; color: white;">Italy</div>
                </div>
            </div>
            <div class="sm:px-10 px-5">
                <button class="btn2 xs:w-11/12 w-full" style="max-width: 700px;">See More</button>
            </div>
        </div>
    </div>
    <img src="../../assets/images/homepage images/tours/eiffel.png" alt="" class="eiffel hidden lg:inline">
</div>
    

<!-- ------------------------------------CITY AND FOREST---------------------------------------------------- -->

<div class="dual md:h-60 md:grid md:grid-cols-2 items-center mb-28 text-center w-full">
    <div class="dual-1 p-20 h-full">
        <p class="font-semibold mb-2 text-white">PROMOTION</p>
        <h1 class="text-4xl mb-4 font-bold text-white">Explore Nature</h1>
        <button class="outline-btn">View Packages</button>
    </div>
    <div class="dual-2 p-20 h-full">
        <p class="font-semibold mb-2 text-white">PROMOTION</p>
        <h1 class="text-4xl mb-4 font-bold text-white">Explore Cities</h1>
        <button class="outline-btn">View Packages</button>
    </div>
</div>

<app-tour-package-card></app-tour-package-card>

<!-- -----------------------------------TESTIMONIALS----------------------------------------------------- -->
<app-testimonial></app-testimonial>


<app-footer></app-footer>