.container .travel-img{
    background-image: url("/assets/images/thumbnails/Rectangle\ 19290\(1\).png");
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
    text-align: center;
}

.container .travel-img .above-header {
    padding: 140px 0px 0px 0px;
    margin: 0;
}

.container .travel-img .header {
    font-family: Yesteryear;
    font-size: 72px;
    padding: 0px 0px 250px 0px;
    margin: 0;
}

.container .filter-container {
    display: flex;
    justify-content: center;
}

.container .filter-container .filter {
    font-size: 14px;
    background-color: lightgrey;
    width: 66.3%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    z-index: 1;
    position: relative;
    bottom: 50px;
    padding: 25px;
}

.container .filter-container .filter img {
    width: 15px;
    margin: 0px 5px -2px 5px;
    align-content: center;
}

.container .contents-container {
    position: relative;
    bottom: 49px;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px 5px rgb(194, 194, 194);
}

.container .contents-container .grid-container .grid-item span .under-content img {
    width: 13px;
    margin: 0px 5px -2px 5px;
}

.container .grid-container {
    width: 70%;
    position: relative;
    bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    padding: 0;
    margin: 0;
}

.container .grid-container .grid-item {
    position: relative;
    top: 55px;
    width: 70%;
    padding: 10px;
    z-index: 1;
    transition: 1s;
}

.container .grid-container .grid-item:hover {
    transform: translate(-20px, -26px);
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(194, 194, 194);
    cursor: pointer;
}

.container .grid-container .grid-item h1 {
    font-family: Volkhov;
    margin: 0;
    padding: 0;
}

.container .shell-container {
    float: right;
    margin: 0;
}

.container .shell-container #shell-image {
    width: 180px;
    height: 111px;
}

#content {
    width: 100%;
    padding: 0;
    margin: 0px 0px 0px 0px;
    transition: 1s;
}

#content:hover {
    border-radius: 10px 10px 0px 0px;
}

#aeroplane  {
    width: 390px;
    position: relative;
    bottom: 353px;
    left: 519px;
}

span {
    font-size: 10px;
}

#shell-image {
    width: 230px;
    height: 161px;
}

.under-content {
    font-size: 9px;
    color: white;
    background-color: #DF6951;
    padding: 5px;
    margin-top: -5px;
}

.fa-star {
    color: #DF6951;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: -190px;
    margin-bottom: 10px;
}

.button-container .btn button {
    background-color: white;
    color: black;
    border: none;
    padding: 8px;
    transition: 1s;
}

.button-container .btn button:hover {
    background-color: lightgrey;
    border-radius: 50%;
    cursor: pointer;
}

/* Media query for smaller screens (e.g., mobile devices) */
@media screen and (max-width: 768px) {
    .travel-img {
        display: none;
    }

    .container .filter-container {
        display: none;
    }

    .shell-container {
        display: none;
    }

    .aero {
        display: none;
    }

    .container .contents-container {
        width: 100%;
        height: 2716px;
    }

    .container .grid-container {
        display: block;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .container .grid-container .grid-item {
        width: 100%;
        margin: -11px;
        box-shadow: none;
    }

    .container .grid-container .grid-item:hover {
        transform: translate(0px, 1px);
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .under-content {
        font-size: 15px;
    }

    span {
        font-size: 16px;
    }
}
