<div class="container">
    <div class="travel-img">
        <app-nav-desktop></app-nav-desktop>
        <p class="above-header"><b>SEARCH TOUR</b></p>
        <p class="header">Travel With Us</p>        
    </div>

    <div class="filter-container">
        <div class="filter">
            <p><img src="/assets/images/thumbnails(1)/bi_calendar-date.png" alt="date logo"><b> Date</b></p>
            <p><i class="fa-solid fa-arrow-up-from-bracket"></i><b> Price Low To High</b></p>
            <p><img src="/assets/images/thumbnails(1)/bi_upload.png" alt="high logo"><b> Price High To Low</b></p>
            <p><img src="/assets/images/thumbnails(1)/Vector.png" alt="pencil logo"><b> Name (A-Z)</b></p>
        </div>
    </div>

    <div class="shell-container">
        <img src="/assets/images/thumbnails(1)/image 920.png" alt="shell image" id="shell-image">
    </div>

    <div class="contents-container">
        <div class="grid-container">
            <div class="grid-item">
                <span>
                    <img src="/assets/images/thumbnails(1)/Rectangle 19377.png" alt="image" id="content"><br>
                    <p class="under-content">
                        <img src="/assets/images/thumbnails(1)/bi_calendar-date (1).png" alt="date logo"> 12, September 2022 <img src="/assets/images/thumbnails(1)/Group.png" alt="group logo"> 120+ People
                    </p>
                    <h1>Switzerland</h1><br>
                    Qui Tempare Voluptate Qui Quia<br>
                    Commodi Rem Praesentium Alias Et.
                    <p>
                        $1,100 <i class="fa-solid fa-star"></i> 5.0
                    </p>
                </span>
            </div>
    
            <div class="grid-item">
                <span>
                    <img src="/assets/images/thumbnails(1)/Rectangle 19377 (1).png" alt="image" id="content"><br>
                    <p class="under-content">
                        <img src="/assets/images/thumbnails(1)/bi_calendar-date (1).png" alt="date logo"> 12, September 2022 <img src="/assets/images/thumbnails(1)/Group.png" alt="group logo"> 120+ People
                    </p>
                    <h1>Berlin</h1><br>
                    Qui Tempare Voluptate Qui Quia<br>
                    Commodi Rem Praesentium Alias Et.
                    <p>
                        $1,230 <i class="fa-solid fa-star"></i> 4.9
                    </p>
                </span>
            </div>
            
            <div class="grid-item">
                <span>
                    <img src="/assets/images/thumbnails(1)/Rectangle 19377 (2).png" alt="image" id="content"><br>
                    <p class="under-content">
                        <img src="/assets/images/thumbnails(1)/bi_calendar-date (1).png" alt="date logo"> 12, September 2022 <img src="/assets/images/thumbnails(1)/Group.png" alt="group logo"> 120+ People
                    </p>
                    <h1>Maldieves</h1><br>
                    Qui Tempare Voluptate Qui Quia<br>
                    Commodi Rem Praesentium Alias Et.
                    <p>
                        $3,000 <i class="fa-solid fa-star"></i> 5.0
                    </p>
                </span>
            </div>
    
            <div class="grid-item">
                <span>
                    <img src="/assets/images/thumbnails(1)/Rectangle 19377 (3).png" alt="image" id="content"><br>
                    <p class="under-content">
                        <img src="/assets/images/thumbnails(1)/bi_calendar-date (1).png" alt="date logo"> 12, September 2022 <img src="/assets/images/thumbnails(1)/Group.png" alt="group logo">> 120+ People
                    </p>
                    <h1>Toronto</h1><br>
                    Qui Tempare Voluptate Qui Quia<br>
                    Commodi Rem Praesentium Alias Et.
                    <p>
                        $2,000 <i class="fa-solid fa-star"></i> 4.6
                    </p>
                </span>
            </div>
            
            <div class="grid-item">
                <span>
                    <img src="/assets/images/thumbnails(1)/Rectangle 19377 (4).png" alt="image" id="content"><br>
                    <p class="under-content">
                        <img src="/assets/images/thumbnails(1)/bi_calendar-date (1).png" alt="date logo"> 12, September 2022 <img src="/assets/images/thumbnails(1)/Group.png" alt="group logo"> 120+ People
                    </p>
                    <h1>Baku</h1><br>
                    Qui Tempare Voluptate Qui Quia<br>
                    Commodi Rem Praesentium Alias Et.
                    <p>
                        $1,440 <i class="fa-solid fa-star"></i> 5.0
                    </p>
                </span>
            </div>
    
            <div class="grid-item">
                <span>
                    <img src="/assets/images/thumbnails(1)/Rectangle 19377 (5).png" alt="image" id="content"><br>
                    <p class="under-content">
                        <img src="/assets/images/thumbnails(1)/bi_calendar-date (1).png" alt="date logo"> 12, September 2022 <img src="/assets/images/thumbnails(1)/Group.png" alt="group logo"> 120+ People
                    </p>
                    <h1>China</h1><br>
                    Qui Tempare Voluptate Qui Quia<br>
                    Commodi Rem Praesentium Alias Et.
                    <p>
                        $1,210 <i class="fa-solid fa-star"></i> 4.0
                    </p>
                </span>
            </div>
        </div>

        <div class="aero">
            <span>
                <img src="/assets/images/thumbnails/273 1.png" alt="image" id="aeroplane">
            </span>
        </div>

        <div class="button-container">
            <div class="btn">
                <button><i class="fa-solid fa-chevron-left"></i></button>
            </div>
    
            <div class="btn">
                <button>1</button>
            </div>
    
            <div class="btn">
                <button>2</button>
            </div>
    
            <div class="btn">
                <button>3</button>
            </div>
    
            <div class="btn">
                <button>4</button>
            </div>
    
            <div class="btn">
                <button><i class="fa-solid fa-chevron-right"></i></button>
            </div>
        </div>
    </div>
</div>

