<div class="form-container">
  <nav>
    <ul>
      <li><a href="#">Information</a></li>
      <li><a href="#">Tour Plan</a></li>
      <li><a href="#">Location</a></li>
      <li><a href="#">Gallery</a></li>
    </ul>
  </nav>
  <br /><br />

  <h1 align="left">Switzerland</h1>

  <p align="left">
    Switzerland is a land of breathtaking natural beauty and enchanting
    experiences.<br />
    As you venture through this picturesque country, you'll be greeted by
    stunning <br />landscapes at every turn.<br />
    The Swiss Alps, with their majestic peaks and pristine snow-capped
    mountains,<br />
    offer some of the world's most remarkable vistas.<br />
  </p>
  <br />
  <p>
    Don't miss the charming Swiss villages,<br />
    nestled amidst rolling hills and valleys, <br />each with its unique
    character and cultural traditions.
    <br />
    Zurich and Geneva offer a blend of modernity and history, <br />
    with world-class museums, vibrant nightlife, and gourmet dining.
  </p>
  <br /><br /><br />

  <h3>Destination:</h3>
  <p>: Zurich, Switzerland</p>
  <br />
  <h3>Departure:</h3>
  <p>: Main Square, New City</p>
  <br />
  <h3>Departure Time:</h3>
  <p>: Approximately 08:10 AM</p>
  <br />
  <h3>Return Time:</h3>
  <p>: Approximately 07:20 PM</p>
  <br />
  <h3>Dress Code:</h3>
  <p>: Casual, comfortable, and light</p>
  <br />
  <h3>Included</h3>
  <p style="padding-top: 2%">
    : Exotic 5 star Accomodation, Airport Transfer<br />
    and Personal Guide
  </p>
  <br />
  <br />

  <h1 align="left">From Our gallery</h1>
  <p>
    "Utilizing a travel assistance website transformed our Switzerland
    adventure<br />
    into a seamless and unforgettable experience.<br />
    From planning our itinerary to booking accommodations...<br />
    Having back-to-back trips and many more<br />

    <br />
    Thanks to this invaluable travel companion, we enjoyed a stress-free<br />
    and immersive adventure, creating cherished memories<br />
    that will last a lifetime."
  </p>
  <br /><br /><br />
  <br />
</div>
