header {
    background-color: #b5b7b9;
    color: white;
    text-align:center ;
    padding: 100px;
  }

  .form-container {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    padding: 25px;
    border: 0px solid #b6a8a8;
    box-shadow:#A0A0A0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    margin-top: -110px;
    background-color: #ffffff;
    position: relative;
  }


  /* Reset default list styles */
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  /* Style the navigation bar */
  nav {
    background-color: #F8F8F8; /*Change the background color as desired */
  }

  nav ul {
    display: flex; /* Display list items horizontally */
    justify-content:space-evenly; /* Distribute items evenly */
    padding: 10px 2; /* Add padding for spacing */
  }

  nav li {
    text-align: 0;
  }

  nav a {
    text-decoration: none;
    color: rgb(0, 0, 0); /* Text color for navigation items */
    padding: 10px 20px; /* Adjust padding as needed */
    display: block;
    transition: background-color 0.3s; /* Add a smooth transition effect */
  }

  /* Change the background color when hovering over the items */
  nav a:hover {
    background-color: #FFFFFF;
    padding: 20%;
    width:80px /* Change the background color as desired */
  }


  h1{
    color: #112336;
  
  }


  h3{
    color: #e04f4f;
    display: inline-block;
        width: 190px; /* Adjust the width as needed */
    
  }

  p {
        display: inline-block;
        margin: 5px; /* Remove any default margin */
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
