#noDetails{
    min-height: 45%;
    overflow-y: scroll;
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid gray; */
    border-radius: 10px;
    /* background-color: blue; */
}
#noDetails div{
    text-align: center;
}

#noDetails div span{
    scale:2;
    margin-bottom: 20px;
}