#formContainer{
    display: flex;
    margin: auto;
    /* justify-content: center; */
    align-items: center;
    height: 95%;
    width: 100%;
    flex-direction: column;
}
#formBorder{
    background-color: white;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    width: 80%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
}
#formContainer div img{
    margin: auto;
    max-width: 100px;
}
#formCatergory{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#formCatergory input{
    padding: 10px;
    width: 100%;
}
.active{
    background-color: rgba(128, 128, 128, 0.1);
}

@media screen and (min-width: 500px){
    #formBorder{
        flex-flow: row;
        width: 100%;
        max-width: 700px;
        align-items: center;
        /* padding: 20px 5px; */
    }

    #formContainer div img{
        width: 100%;
        max-width: 350px;
    }
}