hr,h1{
    margin: 10px 0;
}
#cardContainer{
    display: flex;
    max-height: 270px;
    overflow-x: scroll;
    flex-flow: row;
}
#card{
    color: white;
    width: 400px;
    min-width: 400px;
    background-color: black;
    margin: 0 10px;
    padding: 20px 20px;
    min-height: 196px;
    border-radius: 20px;
}
#card div input{
    color: white;
    background-color: black;
    margin: 10px 0;
}
#card .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#card .heading button{
    padding: 5px 10px;
    border-radius: 5px;
}
.helpText{
    color: rgba(255, 255, 255, 0.5);
}