<div class="form-containers">
  <h2>Book This Tour</h2>
  <p>
    Help Us help you by<br />booking your dream destination<br />
    and watch them turn into reality
    <br /><br />
  </p>

  <input placeholder="Name" id="searchTour" />
  <br /><br />
  <input placeholder="Email" id="Email" />
  <br /><br />
  <input placeholder="Confirm Email" id="Confirm Email" />
  <br /><br />
  <input placeholder="Phone" id="Phone" />
  <br /><br />
  <input class="" type="date" placeholder="year, month, date" />
  <br /><br />
  <input placeholder="Number of tickets" id="numberoftickets" />
  <br /><br />
  <input placeholder="Message" id="message" />

  <br /><br />
  <button class="checkava">Check Availability</button>
  <br /><br />

  <button class="Booknow">Book Now</button>
  <br /><br />
  <div class="img-site">
    <img src="assets/img/273 1.png" alt="Image Description" />
  </div>
  <br /><br />
</div>
