<div class="container">
    <app-nav-desktop></app-nav-desktop>

    <h1><span>No</span> matter where<br> you're going to, we'll<br>
    take you there</h1>
    
    <div class="options">
        <ul>
            <li class="left-end"><a href="#">Where to</a><i class="arrow down"></i></li>
            <li><a href="#">Travel Type</a><i class="arrow down"></i></li>
            <li><a href="#">Duration</a><i class="arrow down"></i></li>
            <li class="right-end"><button>Submit</button></li>
        </ul>
    </div>

    <!-- <img src="" alt="Profile Icons"> -->
    
    <p class="recent-updates">2,500 people booked Tomorrowland Event in the last 24 hours</p><br>

    <span class="scroll">Scroll</span>
</div>

<div class="brands-container">
    <img src="/assets/images/branded/image 909.svg" alt="Fly Emirates">
    <img src="/assets/images/branded/Mask group.svg" alt="trivago">
    <img src="/assets/images/branded/Mask group(1).svg" alt="airbnb">
    <img src="/assets/images/branded/Mask group(2).svg" alt="turkish airlines">
    <img src="/assets/images/branded/image 912.svg" alt="swiss">
</div>