<div id="whole">
    <div id="top">
        <img src="#" alt="profile picture"/>
        <div>
            <p>User Name</p>
            <p>Email</p>
        </div>
        <button><span class="material-symbols-outlined">arrow_forward_ios</span>
        </button>
    </div>
    <div id="middle">
        <p routerLink="./history" routerLinkActive="active"><span class="material-symbols-outlined">history</span>History
        </p>
        <p routerLink="./wallet" routerLinkActive="active"><span class="material-symbols-outlined">wallet</span>wallet
        </p>
        <p routerLink="./privacy" routerLinkActive="active"><span class="material-symbols-outlined">lock</span>Privacy
        </p>
        <p routerLink="./language" routerLinkActive="active"><span class="material-symbols-outlined">language</span>Language
        </p>
        <p routerLink="./support-center" routerLinkActive="active"><span class="material-symbols-outlined">help</span>Support Center
        </p>
        <p routerLink="./logout" routerLinkActive="active"><span class="material-symbols-outlined">logout</span>Logout
        </p>
    </div> 
</div>