<footer>
    <div class="footer-container">
        <p class="info">
            This helps companies<br> manage payments easily<br><br>

            <i class="fa fa-linkedin" aria-hidden="true"></i>
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </p>

        <ul>
            <li><h2>Company</h2></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Pricing</a></li>
        </ul>

        <ul>
            <li><h2>Destinations</h2></li>
            <li><a href="#">Maldives</a></li>
            <li><a href="#">Los Angelas</a></li>
            <li><a href="#">Las Vegas</a></li>
            <li><a href="#">Toronto</a></li>
        </ul>
        <div class="last-column">
            <h2>Join Our Newsletter</h2>

            <form>
                <input type="email" id="email" name="email" placeholder="Your email address">
                <button class="subscribe-btn">Subscribe</button>
            </form>

            <ul class="last-list">
                <li>* We'll send you weekly updates for your better<br>
                tour packages</li>
            </ul>
        </div>

        <hr>

        <p class="footer-details">
            Copyright @ DigitalDJs 2023. All Rights Reserved.
        </p>

    </div>
</footer>